# JetBrains IDE Einstellungen
.idea/

# Python Bytecode (Müll)
__pycache__/
*.py[cod]

# Mac Systemdateien (falls du oder Kollegen Mac nutzen)
.DS_Store

# Beispielskripte (nur lokal, nicht Teil des Add-ons)
enmacs_controller/example_scripts/